/* Nav */

nav {
  margin-bottom: 50px;
}

#nav__links {
  display: flex;
  list-style-type: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #101313;
  height: 40px;
}

.top__nav {
  background-color: #101313;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 40px;
}

#mailingList {
  color: white;
  font-size: 18px;
  cursor: not-allowed;
}

#auth__btns--wrapper {
  display: flex;
}

.auth__btns {
  margin: 5px;
  padding: 2px 6px;
  font-size: 14px;
  cursor: not-allowed;
  border: none;
  border-radius: 3px;
  background-color: #f2f2f2;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav__links li {
  padding: 4px 20px;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.mid__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav__logo {
  max-width: 300px;
  width: 100%;
}

.icons {
  font-size: 24px;
  padding: 8px;
  color: black;
  transition: all 200ms ease;
}

.icons:hover {
  color: rgb(55, 55, 55);
}

/* Search Bar Styling */
#input__search {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: none;
  outline: none;
}

#btn__search {
  height: 40px;
  width: 40px;
  background: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
}

.input-btn__wrapper {
  display: flex;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  width: 100%;
  overflow: hidden;
  padding: 6px 20px;
}

.input-btn__wrapper:hover,
#input__search:hover {
  background-color: #f2f2f2;
}

.input-btn__wrapper:hover #input__search {
  background-color: #f2f2f2;
}

#cart {
  font-size: 22px;
}

/* Footer Styling */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
  margin-top: 25px;
  height: 100px;
}

#footer-logo {
  max-width: 300px;
  width: 100%;
}

.scrollToTop {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Product Styling */

.loading-heading {
  text-align: center;
}

.row {
  max-width: 1100px;
  margin: 0 auto;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  min-height: 100vh;
}

.product__container {
  max-width: 250px;
  min-width: 200px;
  margin: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product__name {
  font-size: 14px;
  margin-bottom: 6px;
}

.product__info {
  background-color: white;
  width: inherit;
  height: 100px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1.5px solid rgb(25, 25, 25);
}

.product__cart {
  cursor: pointer;
  width: fit-content;
}

.prices {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.product__img {
  max-height: 400px;
  height: 100%;
  width: 100%;
}

.product__msrp {
  text-decoration: line-through;
  opacity: 0.4;
  margin-right: 6px;
}

.product__price {
  color: red;
}

.img__wrapper {
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #f2f2f2;
}

/* Pagination */

.pagination {
  margin: 5px;
  padding: 4px 6px;
  font-size: 14px;
  cursor: pointer;
  border: 1.5px solid black;
  border-radius: 3px;
  background-color: rgb(108, 208, 255);
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  width: fit-content;
}

.pagination-btns {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.flex-pag {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

.btn-container {
  display: flex;
}

.pagination-results {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
    .top__nav {
        flex-direction: column;
        height: fit-content;
        padding: 10px 0; 
    }
    .top__nav h6 {
        font-weight: 400;
    }
}
@media (max-width: 530px) {
    #nav__links {
        flex-direction: column;
        height: fit-content;
    }
}
@media (max-width: 375px) {
  .nav__links {
    display: none;
  }
}

